---
import Layout from '../../layouts/Layout.astro'
import TitleBox from '../../components/TitleBox.astro'
import PostBrowser from '../../components/PostBrowser.astro'
import { getCollection } from 'astro:content'
import settings from '../../data/settings.json'

const posts = (await getCollection('blog'))
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .map((p) => ({
    href: `/blog/${p.id}`,
    type: 'Blog' as const,
    title: p.data.title,
    date: p.data.date,
    description: p.data.description,
    thumbnail: p.data.thumbnail,
    tags: p.data.tags,
  }))
---

<Layout title="Blog | glncy" description="Long-form posts on web & mobile development, design, and what I'm building.">
  <div class="pb-40">
    <div class="relative flex h-screen w-full flex-col items-center justify-center">
      <TitleBox title="Blog" subtitle={settings.pages.blogSubtitle} />
      <div class="absolute text-sm text-gray-200 opacity-80" style="margin-top:38vh;">Scroll Down</div>
      <div class="down-arrow absolute"></div>
    </div>

    <div class="mx-auto max-w-4xl px-4">
      <PostBrowser posts={posts} layout="grid" emptyText="No posts yet." />
    </div>
  </div>
</Layout>
