---
import Layout from '../layouts/Layout.astro'
import TitleBox from '../components/TitleBox.astro'
import Information from '../components/sections/Information.astro'
import Skills from '../components/sections/Skills.astro'
import JobHistory from '../components/sections/JobHistory.astro'
import { Icon } from 'astro-icon/components'
import settings from '../data/settings.json'
---

<Layout title="About | glncy">
  <div class="pb-40">
    <div class="relative flex h-dvh w-full flex-col items-center justify-center">
      <TitleBox title="About" subtitle={settings.pages.aboutSubtitle} />
      <div class="absolute text-sm text-gray-200 opacity-80" style="margin-top:38vh;">
        Scroll Down
      </div>
      <div class="down-arrow absolute"></div>
    </div>

    <div class="mx-auto max-w-6xl px-4">
      <Information />
      <Skills />
      <JobHistory />

      <div class="mt-10 flex justify-center">
        <a href="/services" class="cta glass">See how I can help <Icon class="arrow" name="ph:arrow-right" /></a>
      </div>
    </div>
  </div>
</Layout>
