---
import Layout from '../layouts/Layout.astro'
import TitleBox from '../components/TitleBox.astro'
import { Icon } from 'astro-icon/components'
import { getEntry } from 'astro:content'

const profile = await getEntry('profile', 'profile')
const { name, tagline } = profile!.data
---

<Layout showNav={false} title="glncy">
  <div class="flex h-screen w-screen flex-col items-center justify-center">
    <TitleBox title={name} subtitle={tagline} />
    <div class="mt-6">
      <a href="/about" class="cta glass">About Me <Icon class="arrow" name="ph:arrow-right" /></a>
    </div>
  </div>
</Layout>
