---
import Layout from '../layouts/Layout.astro'
import TitleBox from '../components/TitleBox.astro'
import SocialRow from '../components/SocialRow.astro'
import Button from '../components/Button.astro'
import { getEntry } from 'astro:content'

const profile = await getEntry('profile', 'profile')
const { name, tagline } = profile!.data
---

<Layout showNav={false} title="glncy">
  <div class="flex h-screen w-screen flex-col items-center justify-center gap-6">
    <TitleBox title={name} subtitle={tagline} />
    <SocialRow />
    <div class="flex flex-wrap items-center justify-center gap-3">
      <Button href="/about">About Me</Button>
      <Button href="/writing" icon="ph:arrow-right">Writing</Button>
    </div>
  </div>
</Layout>
